
<div>
 <h1>Simple Manage Fixed Assets</h1>
  <input class="input-inset" type="text" placeholder="자산번호의 고유번호를 입력하세요"> <br>
    <button href="#" class="btn btn-lg btn-default">
      <span class="glyphicon glyphicon-plus"></span> 등록하기</button>
    <button href="#" class="btn btn-lg btn-default">
      <span class="glyphicon glyphicon-retweet"></span> 변경하기</button>
    <button href="#" class="btn btn-lg btn-default">
      <span class="glyphicon glyphicon-info-sign"></span> 조회하기</button>
  <a href="#" class="managepage-button">관리자페이지</a>
</div>