<h4>최근 변경내역</h4>
<div class="content-box">
  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">자산번호</th>
        <th scope="col">변경일자</th>
        <th scope="col">변경내용</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <a href="#">상세정보</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>